@import url(/styles/base/typography.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  background-color: #22252c;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 37px;
  margin-block-start: 15px;
  background-color: #5970c1;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}
.main-nav-container {
  display: flex;
  min-height: 75px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.main-header .main-nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-inline-start: 30px;
}

.main-header .logo h3 {
  color: white;
  font-weight: 300;
  font-size: 30px;
  line-height: 0.6;
  font-family: bangers, cursive;
  letter-spacing: 5px;
  margin-inline-start: 4em;
}

.main-header .logo p {
  font-size: 14px;
  margin-left: 0;
  color: #545454;
  font-weight: 400;
  text-transform: capitalize;
  font-style: italic;
  font-family: mansalva, cursive;
  position: relative;
}

.main-header .logo:hover h3 {
  color: rgb(222, 222, 222);
}

.main-header .logo:hover p {
  color: #747474;
}

.main-header a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8em;
  width: 4rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-inline-end: 3em;
}

li {
  list-style-type: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

canvas {
  display: block;
  margin: 3rem auto;
}

.customize-sec button {
  margin-block-start: 10px;
}

.add-line {
  background-color: white;
  color: black;
  padding: 14px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

.switch-line {
  background-color: white;
  color: black;
  padding: 14px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

.fb-btn {
  background-color: white;
  color: black;
  padding: 14px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

.btn-right {
  align-self: start;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55),
    inset 0 5px 0 rgba(255, 255, 255, 0.58);
}
.btn-center {
  align-self: start;
  background-color: white;
  color: black;
  padding: 14px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55),
    inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.btn-center:hover {
  background-color: rgb(209, 209, 209);
  box-shadow: none;
}

.btn-left {
  align-self: start;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55),
    inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

button img {
  width: 16px;
  height: 16px;
}

.main-editor {
  display: none;
}

.canvas-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inputs-container #enter-text {
  width: 100%;
}

#enter-text {
  background-color: white;
  color: black;
  padding: 14px 18px;
  font-size: 16px;
  cursor: text;
  border-radius: 15px;
  outline: none;
  border: none;
  box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
  text-align: center;
}

.customize-sec {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 350px;
  height: 150px;
  justify-content: center;
  background-color: #19a59f;
  border-radius: 15px;
  margin-block: 20px;
}

.plus-switch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-block-start: 1em;
  width: 350px;
}

.download-share {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  width: 350px;
}

.main-gallery img {
  width: 100px;
  height: 100px;
  transition: 0.4s;
}

.main-gallery img:hover {
  cursor: pointer;
  scale: 1.2;
}

.download-link {
  text-align: end;
  color: black;
}

.gallery-container {
  display: flex;
  gap: 1.875em;
  justify-content: center;
  flex-wrap: wrap;
}

.inputs-container {
  display: flex;
  background-color: #3d3d3d;
  margin: 3em 0;
  margin-inline-end: 8em;
  padding-inline: 40px;
  padding-block: 40px;
  flex-wrap: wrap;
  gap: 0.2em;
  border-radius: 30px;
}

.gallery-container {
  margin-block-start: 30px;
  background-color: #383b42;
  border-radius: 10px;
  margin-inline: 15px;
  padding-block-start: 100px;
  padding-block-end: 20px;
}
.btn-clr {
  align-self: start;
  background-color: white;
  color: black;
  padding: 16px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55),
    inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.btn-increase {
  align-self: start;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55),
    inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.btn-decrease {
  align-self: start;
  background-color: white;
  color: black;
  padding: 14px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55),
    inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.btn-download {
  background-color: white;
  color: black;
  padding: 14px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
}

.canvas-inputs button:hover {
  background-color: rgb(209, 209, 209);
  box-shadow: none;
}

.canvas-inputs .fa-palette:hover {
  background-color: rgb(209, 209, 209);
  box-shadow: none;
}

.btn-download:hover {
  background-color: rgb(211, 211, 211);
}

@media (max-width: 615px) {
  .hamburger {
    display: block;
  }

  .hamburger .fa-bars {
    color: white;
  }

  .hamburger .fa-bars:hover {
    color: rgb(222, 222, 222);
  }

  .main-header .main-nav {
    position: fixed;
    top: 75px;
    right: -100%;
    gap: 0;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    text-align: center;
    transition: 0.3s;
    background-color: white;
    border-radius: 37px;
    border: 2px solid black;
  }

  .main-nav a {
    color: black;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  .main-nav a:hover {
    border-radius: 10px;
    background-color: rgb(222, 222, 222);
  }

  li {
    display: flex;
    margin: 16px 0;
  }

  .main-nav.active {
    right: 0;
  }

  .canvas-inputs {
    display: block;
  }

  .inputs-container {
    justify-content: center;
    margin-inline-start: 2em;
    margin-inline-end: 2em;
  }

  .customize-sec {
    height: 20rem;
  }

  .btn-clr {
    margin-block-start: 0.65em;
  }
}
