* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 37px;
  background-color: #5970c1;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}
.main-nav-container {
  display: flex;
  min-height: 75px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.main-header .main-nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  margin-inline-start: 3em;
}

a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8em;
  width: 4rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-inline-end: 3em;
}

a:hover {
  color: #21ac91;
}

li {
  list-style-type: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

canvas {
  display: block;
  margin: 3rem auto;
}

.main-editor {
  display: none;
}

img {
  width: 100px;
  height: 100px;
}

.gallery-container {
  display: flex;
  gap: 1.875em;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-container {
  margin-block-start: 30px;
}

@media (max-width: 615px) {
  .hamburger {
    display: block;
  }

  .main-header .main-nav {
    position: fixed;
    top: 75px;
    right: -100%;
    gap: 0;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    text-align: center;
    transition: 0.3s;
    background-color: white;
    border-radius: 37px;
    border: 1px solid black;
  }

  a {
    color: black;
    margin-inline-start: 3em;
  }

  li {
    display: flex;

    margin: 16px 0;
  }

  .main-nav.active {
    right: 0;
  }
}
